#container{
	max-width: 100%;
	width: 400px;
	margin: auto;
}

#search-container{
	width: 300px;
	max-width: 90%;
	margin:auto;
}
.link{
	line-height: 2.3;
	display: flex;
}

.link span{
	flex:1;
    height: 40px;
    padding-right: 5px;
    overflow: hidden;
}

.download-btn{
	flex:0.3;
}
